@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #6200ea;
  --color-primary-hover: #5200c3;
  --color-text-primary: #111827;
  --color-text-muted: #6B7280;
  --color-border-light: #F3F4F6;
  --color-bg-muted: #F5F5F5;
  --font-family-sans: "Poppins", sans-serif;
}

@utility custom-scrollbar {
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: #E2E8F0;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #CBD5E1;
  }
}

